<h1>Now Playing</h1>
<%= @whatever %>

<% @whatever.each do |w| %>

<div><img src="https://image.tmdb.org/t/p/w200<%= w.poster_path %>" >
<div><%= w.title %></div>
<div><%= w.overview %></div>
	


<% end %>
