// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.movie {
	padding-top: 20px;
}


@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

// NavBar
body {
  background-color: #666;
  padding: 20px;
  font: 14px/20px "Roboto", sans-serif;
}

a, a:hover, a:visited, a:active, a:focus, a:link {
  text-decoration: none;
  color: inherit;
}

section {
  font: 16px/28px "Roboto";
  padding: 0px 20px;
}

nav {
  height: 52px;
  position: relative;
  background-color: #fc0;
  
  
  @media screen and (min-width: 1200px){
    padding: 0 20px;
    padding-right: 58px;
    padding-left: 160px;
  }
}
.menu-toggle {
  display:none;
  
  &:checked{
    &~ .collapse {
      height: 300px;
    }
    &~ .menu-toggle-ui:after {
      transform: rotate(180deg);
      color: #f30;
    }
  }
}
.nav-logo {
  margin-left: 52px;
  padding-top: 10px;
  font: 24px/32px "Lobster", sans-serif;
  color: #000;
  @media screen and (min-width: 1200px){
    margin-left:0;
    position: absolute;
    left: 20px;
    top: 0;
  }
}

.list-unstyled{
  list-style:none;
  padding-left: 800px;
  margin: 0;
   li {
    list-style:none;
    padding: 0;
    margin: 0;
  }
}

.main-menu {
   li a {
    display: block;
    font-size: 1em;
    // line-height: 3em;
    padding: 0 1em;
    background-color: #333;
    color: #fff;
    transition: 500ms background-color, 500ms color;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      background-color: #fb0 !important;
      color: #000;
    }
  }
   li{
    &:nth-child(even) a {
      background-color: #393939;
    }
    @media screen and (min-width: 1200px){
      display: inline-block;
      a, &:nth-child(even) a {
        background-color: transparent;
        color: #333;
        line-height: 52px;
      }
      a:hover {
      background-color: #fa0 !important;
      color: #000;
    }
    }
  }
  @media screen and (min-width: 1200px){
      display: inline-block;
      float:left;
    }
}
input[type=submit]{
    background-color: transparent;
    border: 0;
    font: 14px/32px "FontAwesome";
    position: absolute;
    right: 12px;
    top: 12px;
    width: 42px;
    text-align: center;
    color: #666;
  }
  @media screen and (min-width: 1200px){
      display: inline-block;
      float:left;
      background-color: transparent;
      padding: 0 10px;
      line-height: 52px;
      input[type=text]{
        background-color: #fff;
        color: #000;
        border: 0 transparent none;
        box-shadow: inset -1px 1px 5px #999;
        &:focus{
          background-color:#fff;
          color: #000;
          ~input[type=submit]{
            color: #000;
          }
        }
      }
      input[type=submit]{
        line-height: 52px;
        top: 0;
      }
    }

// NavBar  

// Header
header{
	background-image: url('infinity-war.jpg');
	background-reapeat: no-reapeat;
	height: 200px;

}
	h1{
		color: white;
	}
.text-white{
	font: 30px/40px "Lobster", sans-serif;
	padding-left: 25px;
}

.button white padding-large large opacity hover-opacity-off {
	padding-top: 105px;
}


.movie{
	padding-top: 210px;
  }
