<!DOCTYPE html>
<html>
  <head>
    <title>Moviepop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class= 'nav'>
  		<a href='/'>Home</a>
  			<a href='/users/sign_in'>Sign In</a>
  			<a href='/users/sign_up'>Sign Up</a>
  			<a href='/movies/show'>Movies</a>
  		</div>


  
      
      <%= yield %>
    </div>
  </body>
</html>
